SECRET_KEY=escribe_aqui_una_clave_secreta_aleatoria_para_desarrollo
DEBUG=True
DB_NAME=mi_db_espacial
DB_USER=mi_usuario
DB_PASSWORD=mi_password_seguro
DB_HOST=localhost
DB_PORT=5432
# Rutas a las bibliotecas de GDAL y GEOS (ajusta según tu instalación)
GDAL_LIBRARY_PATH=C:\Program Files\PostgreSQL\version\bin\libgdal-version.dll
GEOS_LIBRARY_PATH=C:\Program Files\PostgreSQL\version\bin\libgeos_c.dll
# Configuración de Redis/Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0