SECRET_KEY=escribe_aqui_una_clave_secreta_aleatoria_para_desarrollo
DEBUG=True
DB_NAME=mi_db_espacial
DB_USER=mi_usuario
DB_PASSWORD=mi_password_seguro
DB_HOST=localhost
DB_PORT=5432
# Rutas a las bibliotecas de GDAL y GEOS (ajusta según tu instalación en Windows exclusivamente)
# No es necesario configurar estas rutas si utilizas Linux o macOS
GDAL_LIBRARY_PATH=C:\OSGeo4W64\bin\gdal-35.dll
GEOS_LIBRARY_PATH=C:\OSGeo4W64\bin\geos_c.dll
# Configuración de Redis/Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

MAPBOX_ACCESS_TOKEN=pk.tu_token_largo_de_mapbox_aqui
GRAPHHOPPER_API_KEY=tu_api_key_de_graphhopper_aqui
GEMINI_API_KEY=tu_api_key_de_gemini_aqui